@using System.Collections.Immutable
@using Sandbox.Surf
@inherits Panel
@attribute [NavigatorTarget("/maps/{ident}")]
@attribute [StyleSheet]

@if (Map.IsNull)
{
    <Spinner />
    return;
}

<style>
    .thumbnail {
        background-image: url(@Map.Thumb);
    }
</style>

<root>
    <div class="sidebar columns map-info">

        <div class="scroll-y grow columns">
            <div class="map-info columns">
                <div class="info-row thumb">
                    <div class="thumbnail" />
                </div>
                <div class="info-row">
                    <label>Map</label>
                    <label class="bold">@Map.Title</label>
                </div>
                <div class="info-row">
                    <label>Difficulty</label>
                    <label class="bold">@(MapInfo.Get(Map).Difficulty)</label>
                </div>
                <div class="info-row">
                    <label>Author</label>
                    <label class="bold">@Map.Author</label>
                </div>
                <div class="info-row">
                    <label>Unique Players</label>
                    <label class="bold">@Map.Usage.Total.Users</label>
                </div>
                <div class="info-row">
                    <label>Total Playtime</label>
                    <label class="bold">@(Map.Usage.Total.Seconds / 3600) hours</label>
                </div>
            </div>

            <div class="player-info columns">
                <label class="heading">Your Stats</label>
                <div class="info-row">
                    <label>Best Time</label>
                    <label class="bold">01:32.256s</label>
                </div>
                <div class="info-row">
                    <label>Rank</label>
                    <label class="bold">17</label>
                </div>
                <div class="info-row">
                    <label>Attempts</label>
                    <label class="bold">596</label>
                </div>                
                <div class="info-row">
                    <label>Time Played</label>
                    <label class="bold">16 HOURS</label>
                </div>                
            </div>
        </div>

        <div class="spacer"></div>

        <div class="grow"></div>
        @{
            var tooltip = string.Empty;
            if (Game.InGame) tooltip = "This will disconnect you from your current game";
        }
        <button class="large primary" text="Create Game" tooltip=@tooltip onmousedown=@CreateGame />
    </div>

    <div class="body columns map-description">
        <label class="heading">Description</label>
        @Map.Description
    </div>

    <div class="sidebar columns map-leaderboard">
        <label class="heading">Leaderboard</label>
        Sidebar
    </div>
</root>

@code {
    public string Ident { get; set; }

    MapReference Map;

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrEmpty(Ident))
            return;

        if ( Ident.StartsWith( "asset#" ) )
        {
            Map = ResourceLibrary.Get<SurfMapAsset>( int.Parse( Ident.Substring( "asset#".Length ) ) );
        }
        else
        {
            Map = await Package.FetchAsync(Ident, false);
        }
    }

    async void CreateGame()
    {
        await Game.Menu.CreateLobbyAsync();
        Game.Menu.Lobby.Map = Map.Asset != null ? "facepunch.procsurfmap" : Map.FullIdent;
        Game.Menu.Lobby.MaxMembers = 24;
        Game.Menu.Lobby.Title = "My Lobby";

        if ( Map.Asset != null )
        {
            Game.Menu.Lobby.SetData( "convar.strafe_map_asset", Map.Asset?.ResourcePath );

            await Task.Delay( 1000 );
        }

        await Game.Menu.Lobby.LaunchGameAsync();
    }
}
